<h2>Add a task in the form below:</h2>

<form action="list" method="post">
  <label for="title">Title</label>
  <input type="text" name="task[title]">
  <label for="address">Details</label>
  <input type="text" name="task[details]">
  <label for="rating">Completed</label>
  <input type="boolean" name="task[completed]">
  <input type="submit">
</form>
